<div id="main">

    <%= image_tag("logo.svg", class: "logo") %>
    <h2>What's the <%= @phrase.category.singularize %>?</h2>
    <div class="success">
      <%= image_tag(@success[rand(@success.size)]) %>
    </div>
    <div class="fail">
      <%= image_tag(@fail[rand(@fail.size)]) %>
    </div>
    <div class="images">
      <% @images.each do |image| %>
        <%= image_tag(image, class: 'word') %>
      <% end %>
      <br><br><br><%= label_tag "phrase_text", @phrase.text, class: "phrase_text" %>
    </div>
    <p class="guess">Take a guess!</p>
    <div>
      <%= hidden_field_tag "phrase_id", @phrase.id %>

      <div id='guess'>

      </div>

      <div id='record-indication'>

      </div>

      <%= button_tag "Guess!", onclick: "startGuessing()" %>
    </div>
</div>
