<div id="main">

    <%= image_tag("logo.svg", class: "logo") %>
    <h2>Guess the <%= image_tag(@phrase.category.singularize + ".svg")  %></h2>
    <div class="success">
      <%= image_tag(@success[rand(@success.size)]) %>
    </div>
    <div class="fail">
      <%= image_tag(@fail[rand(@fail.size)]) %>
    </div>
    <div class="images">
      <% @images.each do |image| %>
        <%= image_tag(image, class: 'word') %>
      <% end %>
    </div>

    <div class="phrase_text"><%= @phrase.text.capitalize %></div>
    <div id='take-a-guess'>
      <div id='before-guess'>
        <%= image_tag("arrow.svg", class: "arrow") %>
        <p class="guess">Press to answer</p>
        <%= image_tag("arrow.svg", class: "arrow") %>
      </div>

      <div id='while-guess'>
        <div id='guess'>
          <%= image_tag("micro.svg", class: "micro") %>
          <div id='guess-placeholder'></div>
        </div>
      </div>
    </div>

    <div>
      <%= hidden_field_tag "phrase_id", @phrase.id %>
      <%= button_tag "Guess!", onclick: "startGuessing()" %>
    </div>
    <audio id="fail1" preload="auto" src="../assets/fail1.wav">
    <audio id="fail2" preload="auto" src="../assets/fail2.wav">
    <audio id="fail3" preload="auto" src="../assets/fail3.wav">

    <audio id="success1" preload="auto" src="../assets/success1.wav">
    <audio id="success2" preload="auto" src="../assets/success2.wav">
    <audio id="success3" preload="auto" src="../assets/success3.wav">

</div>
