<div id="main">
    <div>
      <img class="spark" src="http://i361.photobucket.com/albums/oo54/crackysparkles/sparkles/sparkles-7.gif">
      <h1 style="display:inline-block">IMAGINIZE</h1>
      <img class="spark" src="http://i361.photobucket.com/albums/oo54/crackysparkles/sparkles/sparkles-7.gif">
    </div>

    <h2>What's the <%= @phrase.category.singularize %>?</h2>
    <div>
      <% @images.each do |image| %>
        <%= image_tag(image) %>
      <% end %>
      <br><br><br><%= label_tag "phrase_text", @phrase.text, class: "phrase_text" %>
    </div>
    <p class="guess">Take a guess!</p>
    <div>
      <%= hidden_field_tag "phrase_id", @phrase.id %>
      <%= text_field_tag "guess" %>
      <%= button_tag "Guess!", onclick: "takeAGuess()" %>
    </div>
  <div>
    <a href="/phrases">Get a new phrase</a>
    |
    <a href="#" onclick="revealAnswer()">Reveal answer</a>
  </div>
</div>
